.container-nav {
  padding: 10px;

  .pregs-nav {
    .navbrand {
      font-weight: 600;
      font-size: 22px;
      color: #463d73;
    }

    .planos-link {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.curva-pregs {
  width: 100%;
  height: 290px;
  background: #f4e2ef;
  border-bottom-left-radius: 60% 100%;
  border-bottom-right-radius: 60% 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.container-info {
  text-align: center;

  .titulo {
    font-size: 36px;
    font-weight: 700;
  }

  .sub {
    color: #554e8d;
    max-width: 450px;
    margin: 10px auto;
    font-size: 16px;
  }

  .btn-primary-custom {
    background: #9a76de;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 10px;

    &:hover {
      background: #8146e3;
    }
  }

  .btn-faq {
    border-radius: 10px;
    padding: 8px 20px;
    background: #f3e5ff;
    color: #8e6ed9;
    font-weight: 700;
    border: 1px solid #8e6ed9;

    &:hover {
      background: #8146e3;
    }
  }

  .btns-pregs {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
